//Header section
.header {
  margin-left: 100px;
  margin-right: 100px;
  height: 70px;

  .logo {
    float: left;
    img {
      height: 80px;
    }
  }

  .header-search {
    float: right;
    position: relative;
    top: 20px;
    .header-input {
      border: 0;
      border-bottom: 1px solid white;
      width: 150px;
      padding-bottom: 10px;
      font-size: small;
      background-color: $background-color;
    }
    .hdr-search-icon {
      height: 20px;
      width: 20px;
      position: relative;
      top: 7px;
    }
  }

} //end of header
