@media (min-width: 768px) and (max-width: 978px) {
  .header {
    margin: 10px 50px;
  .logo {
    img {
      height: 70px;
      width: 350px;
    }
  }
  .header-search {
    top: 15px;
    .header-input {
      width: 100px;
      padding-bottom: 10px;
    }
    .hdr-search-icon {
      height: 20px;
      width: 20px;
      position: relative;
      top: 7px;
      left: -5px;
    }
  }
} //end of header

.main-nav {
  height: 28px;
  margin-top: 17px;

  .main-menu {
    bottom: 10px;
    li {
      a {
        margin-left: 30px;
      }
    }
  }

  .main-nav-menu{
    .dropdownmenu1, .dropdownmenu2 {
      bottom: 4px;
    }
    .dropdownmenu1 {
      left: -5px;
    }
    .dropdownmenu2 {
      left: -10px;
      margin-right: 60px;
    }
  }
} //end of main nav

  .sub-nav {
    height: 10px;
  }

  .main-section {
    width: 90%;
    height: 580px;
    margin-left: 50px;
    margin-right: 50px;

    .main-search {
      margin-left: 57px;
      margin-top: 30px;
      width: 15%;

      .main-input {
        width: 79px;
        font-size: 10px;
        padding-bottom: 10px;
        left: -28px;
        top: -8px;
      }
      .main-search-icon {
        height: 15px;
        width: 15px;
        top: -3px;
        left: -30px;
      }
    } //end of main search

  .main-right {
    float: right;
    margin-top: 25px;
    margin-right: 30px;
    width: 70%;
    hr {
      width: 100%;
    }
  } //end of main right (tabs)

  .filter-options {
    width: 17%;
    margin-left: 30px;

    .options-text {
      margin-left: 2%;
      margin-right: 2%;

      .icon-hover {
        height: 45px;
        width: 45px;
        margin-left: 32%;
      }
      .icons {
        height: 45px;
        width: 45px;
        margin-left: 32%;
      }
      .sort, .recos, .stats, .bestsellers, .profile, .bookclub, .network {
        p {
          font-size: 13px;
        }
      }
      .sort,  .stats {
        p {
          margin-left: 38%;
        }
      }
      .bestsellers {
        p {
          margin-left: 20%;
        }
      }
      .recos {
        p {
          margin-left: 5%;
        }
      }
      .bookclub {
        p {
          margin-left: 25%;
        }
      }
      .network {
        p {
          margin-left: 18%;
        }
      }
      .profile {
        p {
          margin-left: 35%;
        }
      }
    } //end if options-text
  } //end of filter-options

  .books-display {
    // float: left;
    width: 70%;
    margin-right: 30px;
    margin-left: 20px;
    .row {
      bottom: 15px;

      .book {
        width: 28%;
        margin-left: 4%;
        margin-bottom: 10px;
        margin-top: 30px;
        .bookcover {
          .booktitle {
            margin-top: 25px;
            font-size: medium;
          }
        }
      }
    }
  } //end of books-display

} //end of main section

  .footer-text {
    font-size: 12px;
    text-align: center;
    width: 80%;
    display: block;
    margin-left: 40px;
    position: absolute;
    top: 735px;
    left: 50px;
  }

}

@media (min-width: 479px) and (max-width: 767px) {
  .header {
    margin: 10px 25px;
    height: 60px;
    .logo {
      img {
        height: 60px;
        width: 250px;
      }
    }
    .header-search {
      top: 15px;
      .header-input {
        width: 65px;
        padding-bottom: 10px;
        font-size: 13px;
      }
    }
  } //end of header

  .main-nav {
    height: 25px;
    margin-top: 17px;

    .main-menu {
      bottom: 13px;
      li {
        a {
          font-size: 11px;
          margin-left: 30px;
        }
      }
    }

    .main-nav-menu{
      .dropdownmenu1, .dropdownmenu2 {
        width: 60px;
        font-size: 11px;
        bottom: 2px;
      }
      .dropdownmenu1 {
        left: -5px;
      }
      .dropdownmenu2 {
        left: -15px;
        margin-right: 15px;
      }
    }
} //end of main-nav

  .sub-nav {
    height: 8px;
  }

  .main-section {
    width: 90%;
    height: 625px;
    margin-left: 20px;
    margin-right: 20px;

    .main-search {
      width: 33%;
      .main-input {
        width: 105px;
        font-size: 13px;
        padding-bottom: 10px;
        left: -28px;
      }
      .main-search-icon {
        height: 20px;
        width: 20px;
        top: -5px;
        left: -30px;
      }
    } //end of main search

  .tools-menu {
    margin-top: 20px;
    display: block;
  }

  .main-right {
    clear: both;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    hr {
      text-align: center;
      width: 99.5%;
      border: 1px solid $highlight-color;
      position: relative;
    }
    .main-tabs {
      h5 {
        margin-right: 15px;
        font-size: small;
      }
    }
  } //end of main-right

  .filter-options {
    display: none;
  }

  .books-display {
    float: left;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
    .row {
      bottom: 15px;

      .book {
        width: 28%;
        margin-left: 4%;
        margin-bottom: 10px;
        margin-top: 30px;
        .bookcover {
          .booktitle {
            margin-top: 25px;
            font-size: medium;
          }
        }
      }

    } //end of row
  } //end of books-display

} //end of main-section

  .footer-text {
    font-size: 12px;
    text-align: center;
    width: 80%;
    display: block;
    margin-left: 40px;
    position: absolute;
    left: 0;
  }

}

@media (max-width: 479px) {
  .header {
    margin: 10px 10px;
    height: 50px;
    .logo {
      img {
        height: 50px;
        width: 200px;
      }
    }
  .header-search {
    top: 12px;
    .header-input {
      width: 50px;
      padding-bottom: 10px;
      font-size: 10px;
    }
    .hdr-search-icon {
      display: none;
    }
  }
} //end of header

  .main-nav {
    height: 25px;
    margin-top: 17px;

    .main-nav-menu {
      display: none;
    }
    .main-nav-hamburger {
      img {
        display: block;
      }
    }
    .main-menu {
      bottom: 12px;
      li {
        a {
          margin-right: 40px;
          font-size: 13px;
        }
      }
      .menu-highlight {
        padding: 5px;
        padding-bottom: 4px;
        padding-top: 10px;
      }
      .menu-item {
        display: none;
      }
    }
  } // end of main-nav
  .sub-nav {
    height: 8px;
  }

  .main-section {
    width: 95%;
    height: 625px;
    margin: 10px 10px;

    .main-search {
      .main-input {
        width: 85px;
        font-size: 11px;
        padding-bottom: 8px;
        left: -28px;
      }
      .main-search-icon {
        display: none;
      }
    }

    .tools-menu {
      display: block;
    }

    .main-right {
      clear: both;
      float: left;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      width: 90%;
      hr {
        text-align: center;
        width: 99.5%;
        border: 1px solid $highlight-color;
        position: relative;
      }
      .main-tabs {
        h5 {
          padding: 8px;
          margin-right: 8px;
          font-size: small;
        }
      }
    } //end of main-right

  .filter-options {
    display: none;
  }

  .books-display {
    float: left;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px;
  .row {
    bottom: 15px;

    .book {
      width: 43.5%;
      margin-bottom: 10px;
      margin-top: 30px;
      .bookcover {
        .booktitle {
          margin-top: 25px;
          font-size: medium;
        }
      }
    }

  } //end of row
 } //end of books-display

} //end of main-section

  .footer-text {
    font-size: 10px;
    text-align: center;
    width: 80%;
    display: block;
    margin-left: 40px;
    position: absolute;
    top: 755px;
    left: 0;
  }
}
