h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: sans-serif; }

body {
  background-color: #71120a; }

.header {
  margin: 10px 100px;
  height: 70px; }

.logo {
  float: left; }

.header-search {
  float: right;
  position: relative;
  top: 20px; }

.logo > img {
  height: 80px; }

.header-input {
  border: 0;
  border-bottom: 1px solid white;
  width: 150px;
  padding-bottom: 10px;
  font-size: small;
  background-color: #71120a; }

.hdr-search-icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 7px; }

.main-nav {
  background-color: #2d2d2d;
  height: 30px;
  margin-top: 20px; }

.sub-nav {
  background-color: #131512;
  height: 12px; }

.main-menu {
  float: right;
  text-align: center;
  display: block;
  position: relative;
  bottom: 9px; }

.main-menu > li {
  display: inline; }

.main-menu > li > a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: small;
  font-weight: bold; }

.menu-item:hover {
  color: #ce993d; }

.menu-highlight {
  padding: 5px;
  padding-top: 15px;
  background-color: #ce993d; }

.menu-highlight:hover {
  color: #2d2d2d; }

#dropdownmenu1, #dropdownmenu2 {
  float: right;
  width: 60px;
  font-size: small;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 3px; }

#dropdownmenu1 {
  margin-left: 7px; }

#dropdownmenu2 {
  margin-right: 115px; }

#dropdownmenu1:hover, #dropdownmenu2:hover {
  cursor: pointer;
  color: #ce993d; }

#dropdownmenu1 li, #dropdownmenu2 li {
  font-size: .75em;
  list-style: none;
  display: none;
  background-color: #2d2d2d;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px; }

#dropdownmenu1 li {
  width: 60px; }

#dropdownmenu2 li {
  width: 80px; }

#dropdownmenu1:hover li, #dropdownmenu2:hover li {
  display: block; }

.main-nav-hamburger > img {
  clear: both;
  float: right;
  height: 20px;
  width: 30px;
  margin-top: 3px;
  margin-right: 10px;
  display: none; }

.main-section {
  clear: both;
  height: 600px;
  width: 85%;
  background-color: #fffdff;
  margin: 10px 100px;
  z-index: -1;
  position: absolute; }

.main-search {
  float: left;
  margin-left: 50px;
  margin-top: 28px;
  width: 20%; }

.main-input {
  border: 0;
  border-bottom: 1px solid #2d2d2d;
  width: 186px;
  padding-bottom: 12px;
  font-size: medium;
  background-color: #fffdff;
  position: relative;
  top: -12px; }

.main-search-icon {
  height: 25px;
  width: 25px;
  position: relative;
  top: -1px;
  left: -10px; }

.tools-menu {
  float: right;
  width: 15%;
  margin: 0;
  margin-top: 15px;
  margin-right: 15px;
  display: none; }

.tools-menu > h5 {
  color: #2d2d2d;
  padding: 5px;
  border: 1px solid #2d2d2d; }

.tools-menu > h5:hover {
  color: #ce993d;
  border: 1px solid #ce993d; }

.main-right {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  width: 65%; }

.main-tabs > h5 {
  display: inline;
  padding: 10px;
  margin-right: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.tab-highlight {
  color: white;
  background-color: #ce993d; }

.tab-highlight:hover {
  color: #2d2d2d; }

.tab {
  color: #2d2d2d;
  background-color: #e4e4e4; }

.tab:hover {
  color: #ce993d; }

.main-right > hr {
  text-align: center;
  width: 99.5%;
  border: 2px solid #ce993d;
  position: relative; }

.filter-options {
  clear: both;
  float: left;
  width: 20%;
  height: 500px;
  margin-left: 50px;
  background-color: #e4e4e4;
  overflow-y: scroll; }

.options-text {
  margin-left: 30px;
  margin-top: 20px;
  line-height: 30px; }

.sort, .recos, .stats, .bestsellers, .profile, .bookclub, .network {
  margin-top: 20px; }

.icon-hover {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  display: none; }

.icons {
  margin-left: 50px; }

.sort > p, .recos > p, .stats > p, .bestsellers > p, .profile > p, .bookclub > p, .network > p {
  color: #2d2d2d;
  position: relative;
  top: -10px; }

.sort > p {
  margin-left: 57px; }

.stats > p {
  margin-left: 57px; }

.recos > p {
  margin-left: 15px; }

.bestsellers > p {
  margin-left: 30px; }

.profile > p {
  margin-left: 53px; }

.bookclub > p {
  margin-left: 40px; }

.network > p {
  margin-left: 37px; }

.sort:hover .icons, .stats:hover .icons, .bestsellers:hover .icons, .recos:hover .icons, .bookclub:hover .icons, .network:hover .icons, .profile:hover .icons {
  display: none; }
.sort:hover .icon-hover, .stats:hover .icon-hover, .bestsellers:hover .icon-hover, .recos:hover .icon-hover, .bookclub:hover .icon-hover, .network:hover .icon-hover, .profile:hover .icon-hover {
  display: block;
  margin-bottom: 10px; }

.books-display {
  float: right;
  width: 65%;
  height: 500px;
  margin-right: 50px;
  background-color: #e4e4e4;
  overflow-y: scroll; }

.row {
  clear: both;
  float: left;
  position: relative;
  top: 2px;
  bottom: 30px; }

.book {
  height: 200px;
  width: 20%;
  float: left;
  margin-left: 4%;
  margin-bottom: 40px;
  margin-top: 20px;
  position: relative;
  overflow: hidden; }

.bookimg {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.bookcover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0; }

.book:hover .bookcover {
  opacity: 1; }

.booktitle, .bookinfo, .bookreview {
  text-align: center; }

.booktitle {
  margin-top: 25px; }

.bookinfo {
  font-size: 10px;
  color: #ce993d; }

.bookreview {
  font-size: 10px;
  color: white; }

.bookcover > img {
  height: 30px;
  width: 40px;
  display: block;
  margin: 0 auto; }

.icons {
  height: 50px;
  width: 50px; }

.footer-text {
  clear: both;
  font-size: small;
  color: white;
  height: 10px;
  width: 100%;
  position: absolute;
  top: 765px;
  left: 100px; }

.space {
  word-spacing: 5px; }

@media (max-width: 479px) {
  .header {
    margin: 10px 10px;
    height: 50px; }

  .logo > img {
    height: 50px;
    width: 200px; }

  .header-search {
    top: 12px; }

  .header-input {
    width: 50px;
    padding-bottom: 10px;
    font-size: 10px; }

  .hdr-search-icon {
    display: none; }

  .main-nav {
    height: 25px;
    margin-top: 17px; }

  .sub-nav {
    height: 8px; }

  .main-nav-menu {
    display: none; }

  .main-nav-hamburger > img {
    display: block; }

  .main-menu {
    bottom: 12px; }

  .main-menu > li > a {
    text-decoration: none;
    color: white;
    margin-right: 40px;
    font-size: 13px; }

  .menu-highlight {
    padding: 5px;
    padding-bottom: 4px;
    padding-top: 10px; }

  .menu-item {
    display: none; }

  .main-section {
    width: 95%;
    height: 625px;
    margin: 10px 10px; }

  .main-input {
    width: 90px;
    font-size: 11px;
    padding-bottom: 8px;
    left: -28px; }

  .main-search-icon {
    display: none; }

  .tools-menu {
    display: block; }

  .main-right {
    clear: both;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%; }

  .main-tabs > h5 {
    padding: 8px;
    margin-right: 8px;
    font-size: small;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px; }

  .main-right > hr {
    text-align: center;
    width: 99.5%;
    border: 1px solid #ce993d;
    position: relative; }

  .filter-options {
    display: none; }

  .books-display {
    float: left;
    width: 90%;
    margin-right: 20px;
    margin-left: 20px; }

  .row {
    bottom: 15px; }

  .book {
    height: 200px;
    width: 43.5%;
    float: left;
    margin-left: 4%;
    margin-bottom: 10px;
    margin-top: 30px; }

  .booktitle {
    margin-top: 25px;
    font-size: medium; }

  .footer-text {
    font-size: 10px;
    text-align: center;
    width: 80%;
    display: block;
    margin-left: 40px;
    position: absolute;
    top: 755px;
    left: 0; } }

/*# sourceMappingURL=style.css.map */
