@import "variables";

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: $background-color;
}

.header {
  margin: 10px 100px;
  height: 70px;
}

.logo-text>img {
  height: 80px;
  // width: 250px;
}

.header-input {
  border: 0;
  border-bottom: 1px solid white;
  width: 150px;
  padding-bottom: 10px;
  font-size: small;
  background-color: $background-color;
}

.hdr-search-icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: 7px;
}

.logo-text {
  float: left;
}

.header-search {
  float: right;
  position: relative;
  top: 20px;
}

.main-nav {
  background-color: $navbar-color;
  height: 30px;
  margin-top: 20px;
  overflow: hidden;
}

.sub-nav {
  background-color: $subnavbar-color;
  height: 12px;
}

.main-menu {
  clear: both;
  float: right;
  margin-right: 100px;
  text-align: center;
  display: block;
  position: relative;
  bottom: 9px;
}

.main-menu>li {
  display: inline;
}

.main-menu>li>a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: small;
  font-weight: bold;
}

.menu-item:hover {
  color: $highlight-color;
}

.menu-highlight {
  padding: 20px;
  padding-top: 30px;
  background-color: $highlight-color;
}

.menu-highlight:hover {
  color: $navbar-color;
}

.main-section {
  clear: both;
  height: 600px;
  width: 85%;
  background-color: $mainsection-color;
  margin: 10px 100px;
  // position: fixed;
}

.main-search {
  float: left;
  margin-left: 50px;
  margin-top: 28px;
  width: 20%;
}

.main-input {
  border: 0;
  border-bottom: 1px solid $navbar-color;
  width: 186px;
  padding-bottom: 12px;
  font-size: medium;
  background-color: $mainsection-color;
  position: relative;
  top: -12px;
}

.main-search-icon {
  height: 25px;
  width: 25px;
  position: relative;
  top: -1px;
  left: -10px;
}

.main-right {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  width: 65%;
}

.main-tabs>h5 {
    display: inline;
    padding: 10px;
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .tab-highlight {
    color: white;
    background-color: $highlight-color;
  }

  .tab-highlight:hover {
    color: $navbar-color;
  }


  .tab {
    color: $navbar-color;
    background-color: $tab-color;
  }

  .tab:hover {
    color: $highlight-color;
  }

  .main-right>hr {
    text-align: center;
    width: 99.5%;
    border: 2px solid $highlight-color;
    position: relative;
  }

  .filter-options {
    clear: both;
    float: left;
    width: 20%;
    height: 500px;
    margin-left: 50px;
    background-color: $tab-color;
    // color: $navbar-color;
    overflow-y: scroll;
  }

  .options-text {
    margin-left: 30px;
    margin-top: 20px;
    line-height: 30px;
  }

.sort, .recos, .stats, .bestsellers, .profile, .bookclub, .network {
  margin-top: 20px;
}

.icon-hover {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  display: none;
}

.icons {
  margin-left: 50px;
}

.sort>p, .recos>p, .stats>p, .bestsellers>p, .profile>p, .bookclub>p, .network>p {
  color: $navbar-color;
  position: relative;
  top: -10px;
}

.sort>p {
  margin-left: 57px;
}


.stats>p {
  margin-left: 57px;
}

.recos>p {
  margin-left: 15px;
}

.bestsellers>p{
  margin-left: 30px;
}

.profile>p {
  margin-left: 53px;
}

.bookclub>p {
  margin-left: 40px;
}

.network>p {
  margin-left: 37px;
}

.sort:hover, .stats:hover, .bestsellers:hover, .recos:hover, .bookclub:hover, .network:hover, .profile:hover {
  .icons {
    display: none;
  }
  .icon-hover {
    display: block;
    margin-bottom: 10px;
  }
}

.books-display {
  float: right;
  width: 65%;
  height: 500px;
  margin-right: 50px;
  background-color: $tab-color;
  overflow-y: scroll;
}

.row {
  clear: both;
  float: left;
  position: relative;
  top: 2px;
  bottom: 30px;
}

.book {
  height: 200px;
  width: 20%;
  float: left;
  margin-left: 4%;
  margin-bottom: 40px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.bookimg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.bookcover {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  opacity: 0;
}

.book:hover {
  .bookcover {
    opacity: 1;
  }
}

.booktitle, .bookinfo, .bookreview {
  text-align: center;
}

.booktitle {
  margin-top: 25px;
}

.bookinfo {
  font-size: 10px;
  color: $highlight-color;
}
.bookreview {
  font-size: 10px;
  color: white;
}
.bookcover>img {
  height: 30px;
  width: 40px;
  display: block;
  margin: 0 auto;
}

.icons {
  height: 50px;
  width: 50px;
}

.footer-text {
  clear: both;
  font-size: small;
  color: white;
  height: 10px;
  margin-left: 110px;
  padding-bottom: 13px;
  position: relative;
  top: 5px;
  left: 100px;
}

.space {
  word-spacing: 5px;
}
